@media only screen and (max-width:768px) and (min-width:577px) {
  
  /* Starting body hero styles here */
  
  .hero-section{
    height: calc(100vh - 55px);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-theme-background-color);
    color: var(--white);
    background-image: var(--blob-tablet);
  
  }
  .hero-section > div{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
  }
  
  .hero-container{
    display: flex;
    background-color: transparent;
    flex-flow: column nowrap;
    position: relative;
    width: calc(100vw/12*10);
    gap: 50px;
  }

  .hero-section h1{
    padding: 8px 0;
  }
  .hero-list li{
    padding: 8px 0;
    font-family: var(--body-text);
    font-size: var(--body-font-size);
  }
  .button-container{
    text-align: right;
    padding: 0;
  }
  .hero-section .hero-cta{
    width: 200px;
    margin: 0;
    opacity: 1;
    transition: 300ms opacity 1200ms;
  }
  .hero-container h1{
    font-size: var(--h1-font-size);
  }

  /* hero animation starts here*/
  
  .hero-container h1{ opacity: 1; transform: translateX(0); transition:  500ms all 0ms;}
  .hero-container p{ opacity: 1; transform: translateX(0); transition:  700ms all 0ms;}
  .hero-container .hero-list-first{ opacity: 1; transform: translateX(0); transition:  900ms all 0ms;}
  .hero-container .hero-list-second{ opacity: 1; transform: translateX(0); transition:  1000ms all 0ms;}
  .hero-container .hero-list-third{ opacity: 1; transform: translateX(0); transition:  1100ms all 0ms;}

  /* hero animation ends here*/
  
  /* Ending body hero styles here */
  .nav-menu li{
    text-align: center;
    padding: 8px 0;
  }
  .nav-menu ul{
    list-style-type: none;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  .nav-menu{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 30%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--dark-theme-background-color);
    transform: translateX(100%);
    z-index: 990;
    transition: all 0.3s ease;
  }
  .nav-menu-open{
    transform: translateX(0);
  }
  .menu-open-button{
    display: block;
  }
  .menu-close-button{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
  }
  .menu-close-button-visible{
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    backdrop-filter: blur(10px);
    z-index: 800;
  }
  .no-scroll{
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: hidden;
  }
  header{
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px 0 0;
    height: 55px;
  }
  .cta-button-container{
    display: none;
  }
  .service-container{
    min-height: 600px;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  .services .first-service-container{
    height: calc(100vh - 160px);
  }
  .services .last-service-container{
    height: 100vh;
  }
  .service-container .service-heading::before{
    top: 0;
  }

  /* footer styles starts here */

  footer{
    height: 49px;
  }

  /* footer styles end here */

   /* Contact-us styles */

   section.contact-section{
    min-height: 200px;
    height: calc(100vh - 49px);
    justify-content: center;
}

.contact-button-container{
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.contact-button-container .contact-banner{
    width: 60vw;
    justify-content: center;
}
.contact-content {
    text-align: center;
}
/* contact-us styles ends here */

section.contact-section .contact-container{
    width: calc(100vw/12*10 - 32px);
    display: flex;
    align-self: center;
    flex-flow: column nowrap;
    gap: 50px;
}

/* Intersection styles */

.contact-container, .service-container{
    opacity: 1;
    transform: translateX(0);
    }


    .show{
    opacity: 1;
    transform: translateX(0);
    transition: all 500ms;
    }
    /* Intersection styles ends here */
    /* tablet styles for wcu section starts here*/



    .why-choose-us-section .wcu-cards-list{
        flex-flow: row wrap;
        gap: 16px;
    }
    .wcu-heading{
        padding: 68px 0; /*160px*/
    }
    .wcu-card{
        height: 45vh;
        justify-content: space-evenly;
        width: calc(100vw/12*6 - 32px);
        margin: 0;
        font-size: var(--body-text);
        min-height: 310px;
    }
    .wcu-card p{}

    .wcu-card ul{
        height: initial;
        padding-bottom: 0;
    }

    .flip{
      transform: rotateY(180deg);
      transition: all 1s;
    }
    .card::after{
      content: '(Tap to Reveal)';
      color: rgba(255, 255, 255, 0.589);
      opacity: 1;
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translateX(-50%);
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      -o-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
      transition: opacity 0.6s;
    }


    /* tablet styles for wcu section ends here*/


    .our-clients{
        min-height: 370px;
        height: 50vh;
        justify-content: space-evenly;
    }
    .logos-container{
        flex-flow: row nowrap;
        gap: 50px;
        height: 200px;
        padding: 8px 0;
        border-top: 1px solid hsla(215, 98%, 61%, 0.2);
        border-bottom: 1px solid hsla(215, 98%, 61%, 0.2);
        background-image: linear-gradient(hsla(215, 98%, 61%, 0.05), hsla(215, 98%, 61%, 0.05));
    }
}